body{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to top, rgb(0, 0, 0) 10%, rgba(255, 255, 255, 0) 80%), url('../media/panel.jpg');
    background-size:cover;
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center;
    height: 100vh;
}

section{
    width: 100%;
    height: 600px;
    display: flex;
}


.contenedor-form{
    width: 360px;
    height: 410px;
    margin: auto;
    background-color: aliceblue;
    border-radius: 15px;
}


.caja-p__form{
    display: flex;
    width: 100%;
    height: 100px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px; 
}

.caja-p__form a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-right: 20px;
    margin-top: 30px;
}

.caja-p__form p{
    
    font-size: 35px;
    color: #8E44AD;
    font-weight: 500;
}

.contenedor-login{
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedor-login input{
    margin: 10px 15px;
    padding: 8px 10px;
    font-size: 15px;
    font-family: Montserrat;
    border: 2px solid #8E44AD;
    border-radius: 4px;
    background-color: transparent;
    outline: none;
}


.contenedor-button{
    width: 100%;
    height: 70px;
    display: flex;
}
.contenedor-button button{
    margin: auto;
    padding: 11px 130px;
    font-size: 17px;
    font-weight: 400;
    font-family: Montserrat;
    border-radius: 50px;
    background-color: #8E44AD;
    border: none;
    color: white;
    text-shadow: 0 0 1px white;
    transition: all 300ms;
}

.contenedor-button button:hover{
    background-color: #ae6eca;
}


.contenedor-p__login{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}

.contenedor-p__login p{
    margin: 0;
    font-size: 17px;
}
.contenedor-p__login a{
    color: #8E44AD;
    text-decoration: none;
}

/* Modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .footer-container {
    position: fixed;                  
    bottom: 0;                        
    left: 0;                          
    width: 100vw;                     
    text-align: center;               
    background-color: rgba(0, 0, 0, 0.8); 
    padding: 15px 0;                  
    margin: 0;           
}

.footer-container p {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

  /* Loader */

  .loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: #333;
    z-index: 9999; /* Asegura que el loader esté sobre otros elementos */
    display: none; /* Oculto por defecto */
}

.loader p {
    animation: loading 1s infinite;
}

/* Animación de ejemplo */
@keyframes loading {
    0% { opacity: 0.2; }
    50% { opacity: 1; }
    100% { opacity: 0.2; }
}

.logo-button {
    width: 60px; /* Ajusta el tamaño según sea necesario */
    height: auto; /* Mantiene la proporción de la imagen */
    cursor: pointer;
    margin-top: 7px; /* Cambia el cursor al pasar el mouse */
}

